
.canvas {
    border-style: solid;
    border-color: black;
    border-width: medium;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.container {
    top:100px;
}
.rectangle
{
   width: 300px;
   height: 20px;
   display: block;
   position: relative;
   border: 1px solid black;
   margin: 20px;
}
 
.square-small
{
   display: block;
   width: 20px;
   height: 20px;
   position: absolute;
   bacground-color: red;
}

.icon {
   display: block;
   width: 40px;
   height: 40px;
   position: absolute;
   background-size: cover!important;
}

.facebook-icon {
    background: url(images/facebook.png);
}

.twitter-icon {
   background: url(images/twitter.png);
}

.gplus-icon {
    background: url(images/google-plus.png);
}

.skipe-icon {
    background: url(images/skype.png);
}

.youtube-icon {
    background: url(images/youtube.png);
}

.instagram-icon {
    background: url(images/instagram.png);
}
